body,
h1 {
  margin: 0;
}

.desktop__container {
  width: 100vw;
  height: 100vh;
  background-color: red;
  color: white;
}
.tablet__container {
  width: 100vw;
  height: 100vh;
  background-color: green;
  color: white;
}
.mobile__container {
  width: 100vw;
  height: 100vh;
  background-color: blue;
  color: white;
}
